@model IEnumerable<Produit>

@foreach (var item in Model)
{
    <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
            <div class="item-img">
                <a asp-controller="Produit" asp-action="Detail" asp-route-id="@item.Id">
                    <img src=@item.ImageUrl alt="Boutique Cafe" title="">
                </a>
            </div>
            <div class="item-content">
                <a asp-controller="Produit" asp-action="Detail" asp-route-id="@item.Id">
                    <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>@item.Nom</strong></h6>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">@item.Prix.ToString("c")</p>
                </a>
            </div>
            <div class="mbr-section-btn item-footer mt-2"><a asp-controller="PanierAchat" asp-action="AjouterAuPanierAchat" asp-route-Id="@item.Id" class="btn item-btn btn-primary display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Ajouter au panier&nbsp;</a></div>
        </div>
    </div>
}